.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.0rem); 
    padding-left: var(--bs-gutter-x,.0rem);
    margin-right: auto;
    margin-left: auto;
}